<%- layout("layouts/boilerplate.ejs") %>
<div class="container">
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3>Edit The Listing</h3>
        <br>
        <form action="/listings/<%= listing.id %>?_method=PUT" novalidate class="needs-validation" method="post" enctype="multipart/form-data">

            <!-- <h3>Title</h3> -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <br>
                <textarea name="listing[title]" id="title" required class="form-control" rows="1"><%= listing.title %></textarea>
                <div class="invalid-feedback">Enter a Valid Title</div>
            </div>
            <br>
            <!-- <h3>Description</h3> -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <br>
                <textarea name="listing[description]" id="description" required class="form-control" rows="7"><%= listing.description %></textarea>
                <div class="invalid-feedback">Enter a Valid Description</div>
            </div>
            <br>
            <!-- <h3>Image URL</h3> -->
            <div class="mb-3">
                Image Preview
                <br>
                <img src="<%= updatedImageURL %>" class="edit-preview-image" alt="">
            </div>
            <div class="mb-3">
                <label for="URL" class="form-label">Upload Image  Here</label>
                <br>
                <input type="file" name="listing[image]" id="URL"  class="form-control" rows="5">
                <div class="invalid-feedback">Enter a Valid Title</div>
            </div>
            <br>
            <!-- <h3>Price</h3> -->
             <div class="row">
                <div class="col-5">
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <br>
                        <textarea name="listing[price]" id="price" required class="form-control" rows="1"><%= listing.price %></textarea>
                        <div class="invalid-feedback">Enter a Valid Price</div>
                    </div>
                </div>
                
                <br>
                <div class="col-7">
                    <!-- <h3>Country</h3> -->
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <br>
                        <textarea name="listing[country]" id="country" required class="form-control" rows="1"><%= listing.country %></textarea>
                        <div class="invalid-feedback">Enter a Valid Country</div>
                    </div>

                </div>
            </div>
            <!-- <h3>Location</h3> -->
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <br>
                <textarea name="listing[location]" id="location" required class="form-control" rows="1"><%= listing.location %></textarea>
                <div class="invalid-feedback">Enter a Valid Location</div>
            </div>
            <br>
            <button class="btn btn-outline-primary edit1">Edit Info</button>
        </form>
    </div>
</div>
</div>

